<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.eseo.pfe.edwin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_resized"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_resized"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/themeTest.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AProposActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FicheDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GlossaireActivity"
            android:theme="@style/ListFont"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GlossaireDetailsActivity"
            android:theme="@style/ListFont"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccueilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MenuActivityy"
            android:label="@string/title_activity_menu_activityy"
            android:theme="@style/SplashTheme"></activity>
    </application>

</manifest>